{% extends 'nav.html' %}

{% block body %}
    {% if error %}
        <div class="col-auto alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{error}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {%endif%}
    <div style="padding: 1rem;">
        <div class="row" style="gap: 0.5rem;display: flex;justify-content: center;width: 100%;margin: auto;">
            <div class="col-sm-5">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total Balance</h5>
                        <p class="card-text">{{total_balance}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Monthly Avarage Balance</h5>
                        <p class="card-text">{{monthly_avarage_balance}}</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="input-field" style="width: 100%;">
            
            <form action="{% url 'visualize' %}" method="POST" class="row g-3" style="justify-content: center;width: 100%;margin: auto;">
                {% csrf_token %}
                <div class="col-auto">
                    <input name="month" type="month" class="form-control" id="inputPassword2" placeholder="month">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Ok, Let's visualize</button>
                </div>
            </form>
        </div>
        
        {% if data %}
            <div style="margin: 1rem;">
                <h3>Total Credits</h3>
                <canvas id="myChart1"></canvas>
                <h3>Total Debits</h3>
                <canvas id="myChart2"></canvas>
                <h3>Total Balances</h3>
                <canvas id="myChart3"></canvas>
            </div>
        {%endif%}
        <hr>
        <div class="input-field" style="width: 100%;text-align:center;">
            <form action="{% url 'visualize' %}" method="POST" class="row g-3" style="justify-content: center;width: 100%;margin: auto;">
                {% csrf_token %}
                <div class="col-auto">
                    <input name="month1" type="month" class="form-control"  placeholder="month">
                </div>
                <div class="col-auto">
                    <input name="month2" type="month" class="form-control" placeholder="month">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Compare</button>
                </div>
            </form>
            <span style="width:100%;">Select only consecutive months</span>
        </div>
        {% if ratio %}
            <div class="container text-center">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Credits ratio</h3>
                        <div>
                            {% for credit in ratio.credit_ratio %}
                                <div style="display: flex;justify-content: space-evenly;flex-wrap: wrap;">
                                    <h5>Week{{ forloop.counter }}</h5><p>{{credit}}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h3>Debits ratio</h3>
                        <div>
                            {% for debit in ratio.debit_ratio %}
                                <div style="display: flex;justify-content: space-evenly;flex-wrap: wrap;">
                                    <h5>Week{{ forloop.counter }}</h5><p>{{debit}}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <hr>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript">
        const labels = [
            'Week 1',
            'Week 2',
            'Week 3',
            'Week 4',
            'Week 5' 
        ];
        const data1 = {
            labels: labels,
            datasets: [
                {
                    label: 'Total Credits',
                    data: {{data.credits_data}},
                    fill: false,
                    borderColor: 'green',
                    tension: 0.1
                }
            ]
        };
        const data2 = {
            labels: labels,
            datasets: [
                {
                    label: 'Total Debits',
                    data: {{data.debits_data}},
                    fill: false,
                    borderColor: 'red',
                    tension: 0.1
                }
            ]
        };
        const data3 = {
            labels: labels,
            datasets: [
                {
                    label: 'Total Balances',
                    data: {{data.current_balance}},
                    fill: false,
                    borderColor: 'blue',
                    tension: 0.1
                }
            ]
        };
        const config1 = {
            type: 'line',
            data: data1,
        };
        const config2 = {
            type: 'line',
            data: data2,
        };
        const config3 = {
            type: 'line',
            data: data3,
        };
        const myChart1 = new Chart(
            document.getElementById('myChart1'),
            config1
        );
        const myChart2 = new Chart(
            document.getElementById('myChart2'),
            config2
        );
        const myChart3 = new Chart(
            document.getElementById('myChart3'),
            config3
        );
    </script>

{% endblock body %}